.container{
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    padding: 30px 20px;
}

.container h1{
    margin: 0;
}
.link-input{
    margin: 20px 0;
}

.title{
    margin-right: 10px;
}

input[type="button"]{
    margin: 0 5px;
}